__pycache__
.vs/
.DS_STORE
data/
credentials.txt
.env
static/recordings/
openh264*

# Files used for miscellaneous scripting development
misc.py
simple.py
interactive.py
app.py
test.py
skeleton.py
testEmail.py
