html, body, .no-padding-margin  { margin: 0 0 0 0; padding: 0 0 0 0; }
html { background-color: #14171c; }
body  { background-color: #f2f2f2; }
HR  { color: #2e2e2e; }
* { font-size: 1.125em; }
p, h1, h2, h3, h4, h5, h6 { font-size: 1.25em; }
a  { color: #e02b20; }
a:hover { text-decoration: none; }
.container  { width: 100%; }
.clickable  { cursor: pointer; }
.white  { color: white; }
.on { color: green; }
.on-bg { background-color: green; }
.off  { color: red; }
.off-bg  { background-color: red; }
.simple-border {  border: 1px black solid; padding: 4px; border-radius: 4px; }
.center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.zoom-cursor { cursor: zoom-in; }
.half-width { width: 50%; }
.float-left { float: left; }
.float-right { float: right; }
.clear-both { clear: both; }
.rounded { border-radius: 5px; }
.button { background-color: #e0e0e0;}
.ml-5 { margin-left: 5%; }
.mr-5 { margin-right: 5%; }
.ml-10 { margin-left: 10%; }
.mr-10 { margin-right: 10%; }
.no-decoration { text-decoration: none; }

#main_container {
  min-height: 60vh;
}

#logo {
  padding-top: 10px;
  margin-top: 0px;
  text-align: center;
}

#logo img {
  width: 64px;
  height: auto;
}

#all_thumbnails  {
  overflow: auto;
  width: 96%;
  margin: 0 auto;
  border-radius: 5px;
}

#toggle_form  {
  width: 80%;
  margin: 0 auto;
  clear: both;
  text-align: center;
}

.thumbnail_container, .thumbnail_container_odd {
  margin: 10px 0 5px 0;
  padding: 10px 0 5px 0;
  text-align: center;
}

.stream_thumbnail {
  min-width: 240px;
  width: 100%;
  max-width: 480px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
}

.recording_item {
  list-style: none;
  line-height: 1.5em;
}

.title, .title a, .title a:link  {
  color: #00addd;
  text-decoration: none;
}

#stream_viewer, #recording_playback {
  background-color: #2e2e2e;
  width: 90%;
  max-width: 1080px;
  padding: 2.5%;
  margin: 0 auto;
  border-radius: 5px;
}

#stream_viewer img, #recording_playback video {
  min-width: 300px;
  width: 100%;
  max-width: 1920px;
  height: auto;
  border-radius: 5px;
}

footer  {
  width: 100%;
  padding-top: 10px;
  background-color: #14171c;
  color: #ededed;
  text-align: center;
  overflow: auto;
}

footer a  { color: #e02b20; }

footer a:link, footer a:visited {
  text-decoration: none;
}

footer a:hover  {
  text-decoration: underline;
}

@media only screen and (orientation: portrait)  {
  #all_thumbnails  {
    max-width: 1400px;
    width: 98%;
  }

  #extras_container div, footer div  { width: 100%; }
}

@media only screen and (orientation: landscape) {
  .thumbnail_container {
    width: 50%;
    height: auto;
    float: left;
    text-align: center;
  }

  .thumbnail_container_odd {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
  }

  #extras_container div, footer div  {
    width: 50%;
    float: left;
  }

  .recording_item {
    width: 50%;
    float: left;
  }
}
