<!DOCTYPE html>
<head>
<title>Stream</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id="main_container" class="container no-padding-margin">
    <p id="logo"><a><img src="{{ url_for('static', filename='cl-icon.png')}}" /></a></p>
      <h1 class="center title"><a href="{{ url_for('index')}}">Security System</a></h1>
          {% if clients == 0 %}
            <h3 class="off center">No cameras are connected</h3>
          {% else %}
            <p class="center">Cameras connected: {{ clients }}</p>
            <div id="all_streams" >
          {% endif %}


          {% if clients > 0 and clients % 2 != 0%}

            {% for i in range(1, clients) %}
              <div class="stream_container">
                <img class="stream_frame" src="{{ url_for('video_feed', id=i) }}" onclick="window.open(this.src);">
              </div>
            {% endfor %}

            <div class="stream_container_odd">
              <img class="stream_frame" src="{{ url_for('video_feed', id=clients) }}" onclick="window.open(this.src);">
            </div>

          {% else %}
            {% for i in range(0, clients) %}
              <div class="stream_container">
                <img class="stream_frame" src="{{ url_for('video_feed', id=i+1) }}" onclick="window.open(this.src);">
              </div>
            {% endfor %}

        {% endif %}
      {% if clients > 0 %}
        </div>
      {% endif%}

      <div id="extras_container">
        <div>
          <form action="/" id="toggle_form" class="container center" method="post">
            <label for="toggle">Alarm: <span class="{{ status }}" id="status">{{ status }}</span></label><br />
            <input type="submit" name="toggle" value="Toggle" class="clickable button rounded" />
          </form>
        </div>
        <div>
          <h5 class="center"><a href="{{ url_for('video_recordings')}}">View Recordings</a></h5>
        </div>
      </div>
  </div>
  <footer>
    <p>
      <div><p>Created by <a href="http://christianlisle.com" target="_blank">Christian Lisle</a></p></div>
      <div><p><a href="http://github.com/ChristianLisle/Security-System" target="_blank">GitHub Repository</a></p></div>

  </footer>
<script>
  /*Prevent form submission if user refreshes window*/
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
</body>
