<!DOCTYPE html>
<head>
<title>Stream</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <h5 class="mt-3">Cameras:
              <span>{{count}}</span>
            </h5>
            {%for i in range(count)%}
            <div class="container" id="container{{i}}">
              <img class="stream" id="stream{{i}}" src="{{ url_for('video_feed', id=i) }}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
