<!DOCTYPE html>
<head>
<title>Stream</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div >
            <h1 class="center">Security System</h1>
            <form action="/" id="stream_form" class="container" method="post">
              <h5 class="center">Camera:
              {% if clients > 0 %}
                {% for i in range(0, clients) %}
                  <a onclick="document.getElementById('stream_selected').innerHTML = '{{i + 1}}';document.getElementById('stream_selected').value = '{{i + 1}}';this.closest('form').submit();return false;"
                  {% if selected == i + 1 %}
                    class="selected"
                  {% endif %}
                  >
                  {{i + 1}}</a>
                {% endfor %}
                <div class="container" id="video_container">
                  <img id="stream" src="{{ url_for('video_feed', id=selected) }}">
                </div>
                <input type="text" name="stream_selected" id="stream_selected" value="" style="visibility: hidden;">
            </form>

            {% else %}
              <span class="off"> No cameras connected</span>
            {% endif %}
            </h5>

            <form action="/toggle_form" id="toggle_form" class="container" method="post">
              <h1>Alarm: <span class="{{ status }}" id="status">{{ status }}</span></h1>
              <button type="submit" id="alarm_toggle">Toggle</button>
            </form>
          <p><a href="">View Recordings</a></p>
        </div>
    </div>
</div>
<script>
  /*Prevent form submission if user refreshes window*/
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>

</body>
