<!DOCTYPE html>
<head>
<title>Stream</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id="main_container" class="container no-padding-margin">
    <p id="logo"><a><img src="{{ url_for('static', filename='cl-icon.png')}}" /></a></p>
      <h1 class="center">Security System</h1>
      <h2 class="center">Recordings</h2>
      <ul>
        {% if list.size == 0 %}
          <h3>No recordings</h3>
          <p>Future recordings will be found here<br /><a href="{{ url_for('index') }}" title="Back to security feed">Back to security feed.</a></p>
        {% else %}
          {% for item in list.children recursive %}
            <li><a href="static/recordings/{{ item.name }}">{{ item.name }}</a></li>
          {% endfor %}
        {% endif %}

      </ul>
  </div>
  <footer>
    <p>
      <div><p>Created by <a href="http://christianlisle.com" target="_blank">Christian Lisle</a></p></div>
      <div><p><a href="http://github.com/ChristianLisle/Security-System" target="_blank">GitHub Repository</a></p></div>

  </footer>
<script>
  /*Prevent form submission if user refreshes window*/
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
</body>
