<!DOCTYPE html>
<head>
<title>Recordings | Security System</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id="main_container" class="container no-padding-margin">
    <p id="logo"><a><img src="{{ url_for('static', filename='cl-icon.png')}}" /></a></p>
      <h1 class="center title"><a href="{{ url_for('index')}}">Security System</a></h1>
      <h2 class="center">Recordings</h2>
        {% if list.size == 0 %}
        <HR>
        <div class="center">
          <h3>No recordings</h3>
          <p>Future recordings will be found here<br /></p>
        </div>
        {% else %}
        <div id="recordings_container" class="center">
          {% for item in list.children recursive %}
            <HR class="clear-both">
            <h2>{{ item.name.replace('-', '/') }}</h2>
            {%- if item.children -%}
              <ul id="recording_list" class="no-padding-margin">
                {% for subItem in item.children recursive %}
                  {% set hour = subItem.name[29:31] | int %}
                  {% if hour == 0 %}
                    {% set hour = 12 %}
                    {% set meridiem = 'am' %}
                  {% elif hour < 12 %}
                    {% set meridiem = 'am' %}
                  {% elif hour == 12 %}
                    {% set meridiem = 'pm' %}
                  {% else %}
                    {% set meridiem = 'pm' %}
                    {% set hour = hour - 12 | int %}
                  {% endif %}
                  {% set camera = subItem.name[subItem.name.find('CAM') + 3: subItem.name.find('CAM') + 4] %}
                  {% set minute = subItem.name[32:subItem.name.find('CAM') - 3] %}
                  <li class="recording_item"><a href="{{ url_for('watch_video', video=subItem.name) }}">{{ '{}:{} {}'.format(hour, minute, meridiem) }}</a> | Camera {{ camera }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        <h5 class="ml-5"><a href="{{ url_for('index') }}" title="Back to security feed">Back to security terminal</a></h5>
  </div>
  <footer>
      <div><p>Created by <a href="http://christianlisle.com" target="_blank" title="Learn about Christian">Christian Lisle</a></p></div>
      <div><p><a href="http://github.com/ChristianLisle/Security-System" target="_blank" title="View this project's source code">GitHub Repository</a></p></div>
  </footer>
<script>
  /*Prevent form submission if user refreshes window*/
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
</body>
