<!DOCTYPE html>
<head>
<title>Watch Video | {{ video[video.find('s/') + 2:video.find('CAM')].replace('/', ' ').replace('-', '/').replace('_', ':') }} | Security System</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id="main_container" class="container no-padding-margin">
    <p id="logo"><a><img src="{{ url_for('static', filename='cl-icon.png')}}" /></a></p>
      <h1 class="center title"><a href="{{ url_for('index')}}">Security System</a></h1>
      <h2 class="center">{{ video[video.find('s/') + 2:video.find('CAM')].replace('/', ' | ').replace('-', '/').replace('_', ':') }}<br />Camera {{video[video.find('CAM') + 3: video.find('CAM') + 4]}}</h2>
        <div id="recording_playback" class="center">
          <video controls muted>
            <source src="/{{ video }}" type="video/mp4">
              Your browser does not support video playback
          </video>
          <p><a href="/{{ video }}" download>Download video</a></p>
        </div>
        <h5 class="ml-5"><a href="{{ url_for('index') }}" title="Back to security feed">Back to security feed</a></h5>
        <h5 class="ml-5"><a href="{{ url_for('video_recordings') }}" title="Back to recordings">Back to recordings</a></h5>
  </div>
  <footer>
    <p>
      <div><p>Created by <a href="http://christianlisle.com" target="_blank">Christian Lisle</a></p></div>
      <div><p><a href="http://github.com/ChristianLisle/Security-System" target="_blank">GitHub Repository</a></p></div>

  </footer>
<script>
  /*Prevent form submission if user refreshes window*/
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
</body>
