<!DOCTYPE html>
<head>
<title>Live Camera Feed | Security System | Camera {{ id }}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id="main_container" class="container no-padding-margin">
    <p id="logo"><a><img src="{{ url_for('static', filename='cl-icon.png')}}" /></a></p>
      <h1 class="center title"><a href="{{ url_for('index')}}">Security System</a></h1>
      <h2 class="center">Live Feed</h2>
      <HR>
      <h3 class="center">Camera {{ id }}</h3>

        <div id="stream_viewer" class="center">
          <img class="zoom-cursor" src="{{ url_for('video_feed', id=id)}}" onclick="window.open(this.src);"/>
        </div>

        <h5 class="ml-5"><a href="{{ url_for('index') }}" title="Back to security feed">Back to security terminal</a></h5>
        <h5 class="ml-5"><a href="{{ url_for('video_recordings') }}" title="Back to recordings">View Recordings</a></h5>
  </div>
  <footer>
      <div><p>Created by <a href="http://christianlisle.com" target="_blank" title="Learn about Christian">Christian Lisle</a></p></div>
      <div><p><a href="http://github.com/ChristianLisle/Security-System" target="_blank" title="View this project's source code">GitHub Repository</a></p></div>
  </footer>
<script>
  /*Prevent form submission if user refreshes window*/
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
</body>
